/*
	Import fonts
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic);

/*
	Reset
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
a, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input[type="text"], input[type="password"], textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td
{
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body
{
  line-height: 1;
}

ol, ul
{
  list-style: none;
}

:focus, :active
{
  outline: 0;
}

input, select
{
  vertical-align: middle;
}

select
{
  margin: 0;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.clear
{
	clear: both;
}

.clearfix:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/*
	Internet Explorer 7
*/

*:first-child+html .clearfix
{
	display: block;
}

/*
	Defaults
*/

body, input, select, textarea, button
{
	font: 13px "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

body
{
	color: #fff;
	background: #060606;
}

a
{
	color: #fed327;
	text-decoration: none;
}

.contentWrapper a
{
	color: #e0b301;
}

a:hover
{
	text-decoration: underline;
}

p
{
	line-height: 22px;
}

p.heading
{
	margin-top: 40px;
}

p.text
{
	margin-top: 8px;
}

h1,
h2,
h3,
h4,
h5
{
	margin-top: 40px;
	font-weight: bold;
}

h1
{
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -1px;
}

h2
{
	font-size: 20px;
	line-height: 26px;
}

h3
{
	font-size: 18px;
	line-height: 24px;
}

h4
{
	font-size: 16px;
	line-height: 22px;
}

h5
{
	font-size: 14px;
	line-height: 20px;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span
{
	font-weight: normal;
}

/*
	Global
*/

.show
{
	display: block;
}

.hide
{
	display: none;
}

.noPadding
{
	padding: 0 !important;
}

.noMargin
{
	margin: 0 !important;
}

.marginTop
{
	margin-top: 40px !important;
}

.paddingTop
{
	padding-top: 40px !important;
}

.marginTopSmall
{
	margin-top: 8px !important;
}

.paddingTopSmall
{
	padding-top: 8px !important;
}

div.center
{
	width: 960px;
	margin: 0 auto;
}

input[type="text"],
input[type="password"],
select,
textarea
{
	font: 13px "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
	width: 602px;
	padding: 9px;
	color: #333;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

input[type="password"]
{
	font: 13px "Helvetica Neue", Helvetica, sans-serif; /* Droid Sans doesn't work with passwords in IE */
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus
{
	border-color: #bbb;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

select
{
	width: 622px;
}

a.colorButton,
button
{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 14px;
	text-align: center;
	color: #333;
	text-shadow: 0 1px 0 #ffdf4c;
	background: #fea611 url(../img/layout/colorButton.png) left top no-repeat;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.colorButton span.pointer
{
	padding-right: 16px;
	background: transparent url(../img/layout/colorButtonPointer.png) right center no-repeat;
}

a.colorButton:hover,
button:hover
{
	text-decoration: none;
	cursor: pointer;
	background-position: right top;
}

ul.numbered
{
	list-style-type: decimal;
	margin-top: 8px;
	line-height: 22px;
	padding-left: 24px;
}

ul.list
{
	margin-top: 8px;
}

ul.list li
{
	line-height: 22px;
	padding-left: 14px;
	background: transparent url(../img/icons/iconSmallDot.png) left center no-repeat;
}

ul.list.tick li
{
	padding-left: 24px;
	background: transparent url(../img/icons/iconSmallTick.png) left center no-repeat;
}

ul.list.cross li
{
	padding-left: 18px;
	background: transparent url(../img/icons/iconSmallCross.png) left center no-repeat;
}

form label
{
	display: block;
	font-weight: bold;
	padding: 20px 0 2px 0;
}

form button
{
	margin: 20px 0 0 0;
}

form label
{
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

form label.error
{
	color: #d20000;
}

form .checkbox
{
	margin-top: 20px;
}

form .checkbox input
{
	margin-right: 10px;
}

form .checkbox label
{
	display: inline;
	font-weight: normal;
	cursor: pointer;
}

.separator
{
	clear: both;
	height: 40px;
}

.separatorShadow
{
	position: relative;
	clear: both;
	padding-bottom: 80px;
	margin-bottom: -40px;
	background: transparent url(../img/layout/separatorShadow.png) center bottom no-repeat;
	border-top: 1px solid #fff;
}

.siteColumnLeft .separatorShadow
{
	background: transparent url(../img/layout/separatorShadowSmall.png) center bottom no-repeat;
}

.siteOverlay
{
	display: none;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: #fff;
}

.siteLoading
{
	display: none;
	position: fixed;
	z-index: 6;
	top: 50%;
	left: 50%;
	width: 58px;
	height: 58px;
	margin: -30px 0 0 -30px;
	cursor: pointer;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.siteLoading div
{
	width: 38px;
	height: 38px;
	margin: 10px;
	background: #fff url(../img/layout/imageZoomLoading.gif) center center no-repeat;
}

img.imageZoomBox
{
	display: none;
	position: fixed;
	z-index: 6;
	top: 50%;
	left: 50%;
	padding: 19px;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.imageZoomClose
{
	display: none;
	position: fixed;
	z-index: 7;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: transparent url(../img/layout/imageZoomClose.png) right top no-repeat;;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*
	Icon Classes
*/

.iconSmallChat
{
	padding-left: 24px;
	background: transparent url(../img/icons/iconSmallChat.png) left center no-repeat;
}

.iconSmallClient
{
	padding-left: 24px;
	background: transparent url(../img/icons/iconSmallClient.png) left center no-repeat;
}

.iconSmallEmail
{
	padding-left: 24px;
	background: transparent url(../img/icons/iconSmallEmail.png) left center no-repeat;
}

.iconSmallPhone
{
	padding-left: 24px;
	background: transparent url(../img/icons/iconSmallPhone.png) left center no-repeat;
}

.iconMediumNetwork
{
	line-height: 30px;
	padding-left: 38px;
	background: transparent url(../img/icons/iconMediumNetwork.png) left center no-repeat;
}

.iconMediumCog
{
	line-height: 30px;
	padding-left: 38px;
	background: transparent url(../img/icons/iconMediumCog.png) left center no-repeat;
}

.iconMediumServer
{
	line-height: 30px;
	padding-left: 38px;
	background: transparent url(../img/icons/iconMediumServer.png) left center no-repeat;
}

.iconMediumHelp
{
	line-height: 30px;
	padding-left: 38px;
	background: transparent url(../img/icons/iconMediumHelp.png) left center no-repeat;
}

.iconMediumStats
{
	line-height: 30px;
	padding-left: 38px;
	background: transparent url(../img/icons/iconMediumStats.png) left center no-repeat;
}

.iconMediumControlPanel
{
	line-height: 30px;
	padding-left: 38px;
	background: transparent url(../img/icons/iconMediumControlPanel.png) left center no-repeat;
}



/*
	Column Layout
*/
.column.large,
.column.medium,
.column.small,
.column.tiny
{
	float: left;
}

.column.large
{
	width: 625px;
	margin: 0 45px 0 0;
}

.column.medium
{
	width: 458px;
	margin: 0 44px 0 0;
}

.column.small
{
	width: 290px;
	margin: 0 45px 0 0;
}

.column.tiny
{
	width: 206px;
	margin: 0 45px 0 0;
}

.column.last
{
	margin-right: 0 !important;
}

.column .columnNavigation
{
	padding-top: 14px;
	border-bottom: 1px solid #ddd;
}

.column .columnNavigation li a
{
	display: block;
	color: #333;
	padding: 9px 12px;
	border-top: 1px solid #ddd;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

.column .columnNavigation li a.iconSmallPhone,
.column .columnNavigation li a.iconSmallChat,
.column .columnNavigation li a.iconSmallClient,
.column .columnNavigation li a.iconSmallEmail
{
	padding-left: 36px;
	background-position: 12px center;
}

.column .columnNavigation li a:hover
{
	text-decoration: none;
	background-color: #f3f3f3;
}

.column img
{
	padding: 9px;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

.column img.alignLeft
{
	float: left;
	margin-right: 20px;
}

.column img.alignRight
{
	float: right;
	margin-left: 20px;
}

.column a:hover img
{
	background-color: #eee;
	border: 1px solid #ccc;
}

.column iframe.embed
{
	display: block;
	padding: 9px;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

.contentWrapper .iconSmallPhone
{
	background-image: url(../img/icons/iconSmallPhoneLight.png);
}

.contentWrapper .iconSmallChat
{
	background-image: url(../img/icons/iconSmallChatLight.png);
}

.contentWrapper .iconSmallClient
{
	background-image: url(../img/icons/iconSmallClientLight.png);
}

.contentWrapper .iconSmallEmail
{
	background-image: url(../img/icons/iconSmallEmailLight.png);
}

/*
	Tabs
*/

.tabWrapper
{
	clear: both;
	margin-top: 40px;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.tabWrapper ul.tabs
{
	clear: both;
	height: 40px;
	background: #f3f3f3;
	border-bottom: 1px solid #ddd;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

.tabWrapper ul.tabs li
{
	float: left;
	height: 28px;
	line-height: 30px;
	padding: 0 25px;
	margin: 5px 5px;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background 200ms, box-shadow 200ms;
	-moz-transition: background 200ms, box-shadow 200ms;
}

.tabWrapper ul.tabs li:hover
{
	cursor: pointer;
	background: #fbfbfb;
	border: 1px solid #fbfbfb;
}

.tabWrapper ul.tabs li.active
{
	margin: -8px -1px 0 -1px;
	padding: 13px 31px 6px 31px;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.06);
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.06);
}

.tabWrapper .tabContent
{
	overflow: hidden;
	padding: 0 30px 30px 30px;
}

.tabWrapper .tabContent .label
{
	display: none;
}

.tabWrapper .tabContent .column.large
{
	width: 589px;
	margin: 0 30px 0 0;
}

.tabWrapper .tabContent .column.medium
{
	width: 434px;
	margin: 0 30px 0 0;
}

.tabWrapper .tabContent .column.small
{
	width: 279px;
	margin: 0 30px 0 0;
}

.tabWrapper .tabContent .column.tiny
{
	width: 202px;
	margin: 0 30px 0 0;
}

.tabWrapper .tabContent h1,
.tabWrapper .tabContent h2,
.tabWrapper .tabContent h3,
.tabWrapper .tabContent h4,
.tabWrapper .tabContent h5,
.tabWrapper .tabContent p.heading,
.tabWrapper .tabContent .marginTop
{
	margin-top: 30px;
}

.siteColumnLeft .tabWrapper .tabContent .column.small
{
	width: 269px;
}

.siteColumnLeft .tabWrapper .tabContent .column.tiny
{
	width: 169px;
}

/*
	Tables
*/

.tableWrapper
{
	overflow: hidden;
	margin-top: 40px;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

table
{
	width: 100%;
	border-collapse: collapse;
}

table td,
table th
{
	padding: 10px 0;
	text-align: center;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

table th
{
	color: #999;
	font-weight: bold;
	text-shadow: 0 1px 0#fff;
	background-color: #f3f3f3;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

table tr td:last-child,
table tr th:last-child
{
	border-right: 0;
}

table tr:last-child td
{
	border-bottom: 0;
}

table tr:hover
{
	background-color: #f3f3f3;
}

table tr.pricing td
{
	padding: 20px 0 10px 0;
	border-bottom: 1px dashed #ddd;
}

table tr.pricing td strong
{
	font-size: 34px;
}

table tr.pricing td span
{
	color: #999;
}

table .colorButton
{
	margin: 0 10px;
}

/*
	Hosting Plans
*/

.hostingHeader
{
	padding: 40px 280px 0 0;
}

.hostingHeader.shared
{
	background: transparent url(../img/layout/hostingHeaderShared.png) right bottom no-repeat;
}

.hostingHeader.virtual
{
	background: transparent url(../img/layout/hostingHeaderVirtual.png) right bottom no-repeat;
}

.hostingHeader.dedicated
{
	background: transparent url(../img/layout/hostingHeaderDedicated.png) right bottom no-repeat;
}

.hostingPlans
{
	margin-top: 40px;
}

.hostingPlans .column
{
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
}

.hostingPlans .column.large
{
	width: 639px;
	margin-right: 0;
	margin-left: -1px;
}

.hostingPlans .column.medium
{
	width: 479px;
	margin-right: 0;
	margin-left: -1px;
}

.hostingPlans .column.small
{
	width: 319px;
	margin-right: 0;
	margin-left: -1px;
}

.hostingPlans .column.tiny
{
	width: 239px;
	margin-right: 0;
	margin-left: -1px;
}

.hostingPlans h1
{
	line-height: 20px;
	padding: 20px 0;
	margin: 0;
	text-align: center;
}

.hostingPlans h1 span
{
	line-height: 14px;
	font-size: 11px;
	color: #999;
	letter-spacing: normal;
}

.hostingPlans .column:first-child
{
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.hostingPlans .column:last-child
{
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.hostingPlans ul
{
	padding: 20px;
	border-top: 1px dashed #ddd;
}

.hostingPlans ul li
{
	line-height: 22px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}

.hostingPlans ul.keyFeatures
{
	background: #f3f3f3;
}

.hostingPlans ul.keyFeatures li
{
	line-height: 24px;
	font-size: 16px;
}

.hostingPlans ul.additionalFeatures li.unavailable
{
	height: 22px;
	color: #999;
	background: transparent url(../img/icons/iconSmallCross.png) center center no-repeat;
}

.hostingPlans .price
{
	text-align: center;
	padding: 20px;
	border-top: 1px dashed #ddd;
}

.hostingPlans .price strong
{
	font-size: 46px;
	line-height: 40px;
}

.hostingPlans .price span
{
	line-height: 14px;
	font-size: 11px;
	color: #999;
	letter-spacing: normal;
}

.hostingPlans .colorButton
{
	font-size: 16px;
	text-align: center;
	margin: 0 20px 20px 20px;
}

.hostingPlans .column:hover
{
	position: relative;
	padding: 10px;
	margin: -10px -10px -10px -11px;
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 0 10px #eee;
	-moz-box-shadow: 0 0 10px #eee;
	box-shadow: 0 0 10px #eee;
}

/*
	Content info box
*/

.contentInfoBox
{
	clear: both;
	margin-top: 40px;
	text-align: center;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.contentInfoBox p
{
	padding: 20px;
}

/*
	Structure
*/

.siteWrapper
{
	min-width: 960px;
}

.siteHeaderShadow
{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 120px;
	background: transparent url(../img/layout/siteHeaderShadow.png) left top repeat-x;
}

.siteHeader
{
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 90px;
}

.siteHeader .logo
{
	float: left;
	width: 200px;
	height: 60px;
	margin: 15px 0;
	background: transparent url(../img/logos/siteHeaderLogo.png) left center no-repeat;
}

.siteHeader .navigation
{
	float: right;
}

.siteHeader .navigation li
{
	float: left;
	margin: 20px 0;
}

.siteHeader .navigation li a
{
	display: block;
	line-height: 15px;
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: background 200ms, color 200ms;
	-moz-transition: background 200ms, color 200ms;
}

.siteHeader .navigation li a.dropdown
{
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.siteHeader .navigation li a span
{
	font-size: 11px;
	color: #999;
	text-transform: none;
}

.siteHeader .navigation li:hover a
{
	padding: 9px 19px;
	color: #fed327;
	text-decoration: none;
	background: #222;
	border: 1px solid #000;
	-webkit-box-shadow: inset 0 1px 0 #383838;
	-moz-box-shadow: inset 0 1px 0 #383838;
	box-shadow: inset 0 1px 0 #383838;
}

.siteHeader .navigation li:hover a.dropdown
{
	padding: 9px 19px 10px 19px;
	border-bottom: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.siteHeader .navigation li ul.dropdown
{
	display: none;
	position: absolute;
	overflow: hidden;
	width: 240px;
	border: 1px solid #000;
	border-top: 0;
	-webkit-border-radius: 6px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 6px;
	-moz-border-radius-topleft: 0;
	border-radius: 6px;
	border-top-left-radius: 0;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.siteHeader .navigation li ul.dropdown li
{
	float: none;
	margin: 0;
}

.siteHeader .navigation li ul.dropdown li a
{
	padding: 15px 20px;
	color: #fff;
	text-transform: none;
	background: #222;
	border: 0;
	border-top: 1px solid #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.siteHeader .navigation li ul.dropdown li:first-child a
{
	-webkit-border-top-right-radius: 6px;
}

.siteHeader .navigation li ul.dropdown li a:hover
{
	color: #fed327;
	background: #333;
	-webkit-box-shadow: inset 0 3px 6px #191919;
	-moz-box-shadow: inset 0 3px 6px #191919;
	box-shadow: inset 0 3px 6px #191919;
}

.siteHeader .navigation li:hover ul.dropdown
{
	display: block;
}

.contentSlider,
.contentHeader
{
	overflow: hidden;
	background: #222 url(../img/layout/siteHeaderPattern.png) left top repeat;
}

.contentSlider
{
	position: relative;
}

.contentSlider .center,
.contentHeader .center
{
	height: 340px;
	background: transparent url(../img/layout/siteHeaderMap.png) center top no-repeat;
}

.contentSlider,
.contentSlider .slide
{
	position: relative;
	overflow: hidden;
	height: 340px;
}

.contentSlider .slide
{
	width: 960px;
}

.contentSlider .slideSwitchLabel
{
	display: none;
}

.contentSlider .slideSwitch
{
	position: absolute;
	z-index: 1;
	margin-top: 320px;
}

.contentSlider .slideSwitch div
{
	float: left;
	height: 28px;
	line-height: 28px;
	margin-right: 9px;
	color: #999;
	text-align: center;
	text-shadow: 0 1px 0 #000;
	cursor: pointer;
	border: 1px solid #444;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

.contentSlider .slideSwitch div:hover
{
	color: #fff;
	border-color: #666;
}

.contentSlider .slideSwitch div.active
{
	color: #fed327;
	background: #1a1a1a url(../img/layout/slideSwitchGradient.png) left top repeat-x;
	border-color: #111;
	-webkit-box-shadow: 0 1px 0 #444;
	-moz-box-shadow: 0 1px 0 #444;
	box-shadow: 0 1px 0 #444;
}

.contentSlider .information
{
	float: left;
	width: 480px;
	margin-top: 120px;
	text-shadow: 0 1px 0 #000;
}

.contentSlider .information h1
{
	font-size: 36px;
	padding-bottom: 4px;
	margin-top: 0;
}

.contentSlider .information ul
{
	margin-top: 20px;
}

.contentSlider .information ul li
{
	float: left;
	width: 240px;
	line-height: 22px;
	font-size: 14px;
}

.contentSlider .information .box
{
	height: 40px;
	padding: 9px;
	margin-top: 10px;
	border: 1px solid #444;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.contentSlider .information .box .label
{
	float: left;
	font-size: 11px;
	line-height: 14px;
	margin: 6px 10px;
	color: #999;
	text-align: right;
	text-transform: uppercase;
}

.contentSlider .information .box .price
{
	float: left;
	margin-left: 10px;
	line-height: 40px;
	font-weight: bold;
	font-size: 36px;
}

.contentSlider .information .box .colorButton
{
	float: right;
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.contentSlider img
{
	float: right;
	margin-top: -40px;
}

.contentHeader .center
{
	height: 60px;
	padding-top: 90px;
}

.contentHeader h1
{
	position: relative;
	z-index: 3;
	float: left;
	line-height: 60px;
	margin: 0;
	text-shadow: 0 1px 0 #000;
}

.contentHeader ul
{
	position: relative;
	z-index: 3;
	float: right;
	margin-right: 8px;
}

.contentHeader ul li
{
	float: left;
}

.contentHeader ul li a
{
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	margin: 15px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
}

.contentHeader ul li a:hover
{
	text-decoration: none;
	background-color: #111;
	-webkit-box-shadow: 0 1px 0 #444;
	-moz-box-shadow: 0 1px 0 #444;
	box-shadow: 0 1px 0 #444;
}

.contentHeader ul li a.iconSmallPhone,
.contentHeader ul li a.iconSmallChat,
.contentHeader ul li a.iconSmallClient,
.contentHeader ul li a.iconSmallEmail
{
	padding-left: 36px;
	background-position: 12px center;
}

.contentHeader ul li a.iconSmallPhone
{
	padding-left: 30px;
	background-position: 8px center;
}

.contentWrapper
{
	position: relative;
	z-index: 1;
	padding-bottom: 40px;
	color: #333;
	background: #fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
}

.contentWrapper .outerShadow
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 30px;
	margin-top: -30px;
	background: transparent url(../img/layout/contentWrapperOuterShadow.png) left bottom repeat-x;
}

.contentWrapper .innerShadow
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 10px;
	background: transparent url(../img/layout/innerShadowTop.png) left top repeat-x;
}

.siteColumnLeft
{
	clear: both;
	float: left;
	width: 630px;
}

.siteColumnLeft .column.tiny
{
	width: 180px;
}

.siteColumnRight
{
	float: right;
	width: 250px;
	padding-left: 40px;
	background: transparent url(../img/layout/siteColumnRight.png) left top no-repeat;
}

.siteFooter
{
	background: #222 url(../img/layout/siteFooterPattern.png) left top repeat;
}

.siteFooter .center
{
	padding-bottom: 30px;
}

.siteFooter .column .columnNavigation
{
	padding-top: 6px;
	border: 0;
}

.siteFooter .column .columnNavigation li a
{
	padding: 6px 0;
	padding-left: 12px;
	margin-left: -12px;
	color: #fed327;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
}

.siteFooter .column .columnNavigation li a:hover
{
	background-color: #222;
	-webkit-box-shadow: inset 0 1px 0 #383838, 0 2px 6px #060606;
	-moz-box-shadow: inset 0 1px 0 #383838, 0 2px 6px #060606;
	box-shadow: inset 0 1px 0 #383838, 0 2px 6px #060606;
}

.siteFooter .column .columnNavigation li a.iconSmallPhone,
.siteFooter .column .columnNavigation li a.iconSmallChat,
.siteFooter .column .columnNavigation li a.iconSmallClient,
.siteFooter .column .columnNavigation li a.iconSmallEmail
{
	padding-left: 36px;
	background-position: 12px center;
}

.siteFooter p
{
	color: #999;
}

.siteFooterBar
{
	padding: 20px 0;
	color: #999;
	background: #060606;
	border-top: 1px solid #222;
}

.siteFooterBar p
{
	padding-left: 54px;
	background: transparent url(../img/logos/siteFooterBarLogo.png) left center no-repeat;
}

.siteFooterBar a.backToTop
{
	float: right;
	line-height: 22px;
	padding-right: 12px;
	background: transparent url(../img/icons/iconSmallTop.png) right center no-repeat;
}

/*
	Testimonial Box
*/

.testimonialBox
{
	margin-top: 15px;
}

.testimonialBox p
{
	padding: 12px;
	font-family: "Droid Serif", Georgia, serif;
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-shadow: 0 1px 0 #fff;
	background: #f3f3f3;
	border: 1px solid #d3d3d3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: inset 0 1px 0 #fff;
}

.testimonialBox .author
{
	margin-top: -1px;
	padding: 15px 0 0 45px;
	background: transparent url(../img/layout/testimonialBox.png) 14px top no-repeat;
}

/*
	Twitter Widget
*/

.twitterWidget
{
	height: 50px;
	background: #f3f3f3 url(../img/layout/twitterWidget.png) left center repeat-x;
	border-top: 1px solid #d3d3d3;
}

.twitterWidget .profileLink
{
	float: left;
	width: 30px;
	height: 30px;
	margin: 10px 0;
	margin-right: 16px;
	background: transparent url(../img/icons/iconMediumTwitter.png) left center no-repeat;
}

.twitterWidget .center p
{
	line-height: 50px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.twitterWidget .center p a
{
	color: #333;
	font-weight: bold;
	border-bottom: 1px dotted #333;
}

.twitterWidget .center p a:hover
{
	text-decoration: none;
	border: 0;
}

.twitterWidget .center p span
{
	color: #999;
	margin-left: 10px;
}

/*
	Login form
*/

.loginForm
{
	display: block;
	width: 320px;
	padding: 80px 0 60px 0;
	margin: 0 auto;
}

.loginForm input[type="text"],
.loginForm input[type="password"]
{
	width: 279px;
	padding-left: 32px;
}

.loginForm input[type="text"]
{
	background: #fff url(../img/icons/iconSmallClientLight.png) 8px center no-repeat;
}

.loginForm input[type="password"]
{
	background: #fff url(../img/icons/iconSmallLockLight.png) 8px center no-repeat;
}

.loginForm button
{
	font-weight: bold;
	width: 320px;
}

.loginForm .help
{
	margin-top: 40px;
	text-align: center;
}

/*
	Blog
*/

.blogSearch
{
	margin-top: 40px;
}

.blogSearch label
{
	display: none;
}

.blogSearch input[type="text"]
{
	color: #999;
	width: 232px;
}

.blogSearch input[type="image"]
{
	position: absolute;
	padding: 10px;
	margin-left: 210px;
}

.blogPost
{
	margin-bottom: -40px;
}

.blogPost .postHeader,
.blogPost .postFooter,
.blogPost .commentHeader
{
	color: #999;
}

.blogPost p.text,
.blogPost .postFooter
{
	margin-top: 20px;
}

.blogPost .postFooter
{
	padding-bottom: 80px;
	background: transparent url(../img/layout/separatorShadowSmall.png) center bottom no-repeat;
}

.blogPost .postFooter span
{
	font-weight: bold;
	margin: 0 10px;
}

.blogPost .comment
{
	margin-top: 20px;
}

.blogPost label span
{
	font-weight: normal;
	color: #999;
}

.blogPageSwitch
{
	clear: both;
	margin-top: 40px;
}

.blogPageSwitch a
{
	float: left;
	padding: 6px 12px;
	margin-right: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
}

.blogPageSwitch a:hover
{
	text-decoration: none;
	background: #f3f3f3;
}